.is-rounded img {
    border-radius: 300000px;
}
.hero {
    background-color: rgba(10, 10, 10, .86);
}

.has-bg-img { background: url('//images/img.jpg')center center; background-size:cover; }

.has-bg-side {
    background-color:hsl(0, 0%, 86%);
}

.table__wrapper {
    overflow-x: auto;
  }

