{% extends "chama/base_site.html" %}

{% block content %}

<section class="hero is-fullheight has-background-white">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-4 is-offset-4">
                    <p class="is-medium">The password has been changed</p>
                    <p><a href="{% url 'login' %}">log in again?</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}