{% extends "chama/base_site.html" %}

{% block content %}

<section class="hero is-fullheight has-background-white">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-4 is-offset-4">
                    <p class="is-medium">Someone asked for password reset for email {{ email }}. Follow the link below:</p>
                    <p>{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}