{% extends 'chama/base_view.html' %}

{% block content %}
{% load bulma_tags %}


<div class="container">
  <div class="columns">

    
      <div class="column content is-two-fifths is-offset-one-fifth">
      <p> Submit Your Request:</p>

      <form action="" method="POST">
          {% csrf_token %}
          {{ form|bulma }}
          <div class="buttons">
            <input type="submit" class="button is-link is-medium has-text-white" value="Submit">
            <button class="button is-primary is-medium is-right"> <a class=" has-text-white">Cancel</a> </button>           
          </div>
          
      </form>

    </div>
    </div>
  </div>
{% endblock  %}